.Package-packageRow{
    margin-top: 0.75rem;
}

.Package-package{
    height: 100px;
    background-color: lightskyblue;
    border: solid 1px black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.Package-package > div {
    font-size: 20px;
}

.Package_title{
    color:white;
    font-weight: bold;
}